@model Team

@{
    ViewData["Title"] = $"Tým - {Model.Name}";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.Name</h3>
            </div>
            <div class="box-body dl-horizontal">
                <h4>Hráči</h4>
                <table class="table table-striped">
                    <tr>
                        <th>Jméno</th>
                        <th>Post</th>
                    </tr>

                    @foreach(var player in Model.Players)
                    {
                        <tr>
                            <td><a asp-controller="Player" asp-action="Show" asp-route-id="@player.Id">
                                    @player.FullName
                                </a>
                            </td>
                            <td></td>
                        </tr>
                    }
                </table>

                <hr>

                <h4>Zápasy</h4>
                <table class="table">
                    <tr>
                        <th>Datum</th>
                        <th>Proti</th>
                        <th>Výsledek</th>
                    </tr>

                    @foreach(var match in Model.Matches)
                    {
                        <tr>
                            <td> @match.Date </td>
                            <td> @match.Opponent </td>
                            <td> @match.Result </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id">Upravit</a>
            </div>
        </div>
    </div>
</div>